__pycache__/
*.py[cod]

build/*
!build/.gitkeep
!build/DiceMed/
!build/DiceMed/.gitkeep
!build/Interface/
!build/Interface/.gitkeep
!build/mammography/
!build/mammography/.gitkeep

dist/*
!dist/.gitkeep

Output/*
!Output/.gitkeep

.venv/
venv/
env/

.DS_Store
Thumbs.db
